.catalog {
    &__inner {
        display: flex;
        padding: 40px 0;
    }
    &__menu {
        max-width: 335px;
        width: 30%;
        &-top {
            padding: 15px 0;
            background-color: rgb(197, 53, 70);
            color: white;
        }
        &-nav {
            background-color: rgb(247, 230, 133);
        }
        &-title {
            font-size: 27px;
            text-align: center;
        }
        &-list {
            padding: 20px;
        }
        li {
            max-width: 300px;
            margin-bottom: 15px;
        }
        a {
            text-align: left;
            background-color: rgb(247, 230, 133);
            font-size: 17px;
            color: black;
        }
    }
    &__body {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 70%;
        z-index: 2;
    }
    &__item {
        flex-basis: calc(100% / 3 - 30px);
        margin: 0 0 40px 25px;
        box-shadow: 1px 1px 9px 0px rgba(132, 132, 132, 0.40);
        text-align: center;
        z-index: 3;
        &-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 15px 10px;
        }
        &-forimage {
            display: flex;
        }
        &-image {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
            object-fit: contain;
        }
        &-description {
            text-align: center;
            margin-bottom: 10px;
        }
        &-price {
            text-align: center;
            font-size: 18px;
            &::after {
                content: '\20BD';
                margin-left: 5px;
            }
        }
    }
}

.breadcrumbs {
    background-color: rgb(214, 214, 214);
    &__list {
        display: flex;
    }
    &__item::after {
        content: '>';
        margin-right: 6px;
        margin-left: 3px;
    }
    &__item:last-child::after {
        display: none;
    }
    &__link {
        color: #000;
    }
}

.lower-nav {
    background-color: rgb(247, 230, 133);
    &__inner {
        display: flex;
        justify-content: flex-end;
        padding: 7px 0;
        align-items: center;
    }
}


.categories {
    position: relative;
    display: flex;
    background-color: rgb(197, 53, 70);
    color: white;
    align-self: center;
    padding: 4px 12px;
    &::after {
        content: '\2630';
        margin-left: 5px;
    }
    &__nav {
        position: absolute;
        display: block;
        height: auto;
        width: 195px;
        padding: 10px 10px 5px 10px;
        transition: all .5s;
        transform: translateX(-135%);
        opacity: 0;
        top: 28px;
        background-color: rgb(247, 230, 133);
        z-index: 4;
        &.active {
            transform: translateX(-11%);
            opacity: 1;
        }
    }
    li {
        margin-bottom: 17px;
    }
    a {
        width: 100%;
        color: #000;
        font-size: 14px;
    }
}


.first__image {
    height: 220px;
}
.first__subtitle {
    font-size: 14px;
}
.fasad {
    height: 375px;
}
.catalog__menu-link {
    font-size: 17px;
}