.our-contacts {
    text-align: center;
    margin: 30px 0;
    line-height: 1.6;
    h5 {
        font-size: 18px;
    }
    &-pnt {
        margin-bottom: 15px;
    }
}

.map {
    text-align: center;
}

