.first {
    &__inner {
        margin: 40px 0;
    }
    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
            margin: 30px auto;
        }
    }
    &__link {
        position: relative;
        margin: 40px 0;
        width: 50%;
        &:hover {
            .first__intro {
                opacity: .9;
            }
        }
    }
    &__image {
        height: 310px;
        width: 100%;
        object-fit: contain;
    }
    &__intro {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 95%;
        height: 25%;
        margin: 0 auto;
        top: 90%;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: .6;
        transition: all 0.4s;
        background-color: rgb(247, 230, 133);
        h6 {
            display: flex;
            align-self: center;
            font-size: 30px;
            color: black;
            opacity: 1;
        }
    }
}

.slider {
    &__body {
        overflow: hidden;
        margin: 50px auto;
        min-width: 0;
    }
    &__item-wrapper {
        display: flex;
        justify-content: center;
    }
    &__item {

        img{
            width: auto;
            max-width: 400px;
            height: 350px;
            margin: auto;
        }
    }
}
