@media (max-width: 992px) {
    .logotype__image {
        width: 260px;
        height: 45px;
    }
    .header__bottom-inner {
        padding: 7px 0;
    }
    .catalog {
        &__body {
            width: 78%;
        }
        &__menu {
            width: 22%;
        }
        &__item {
            margin: 0 0 40px 25px;
        }
    }
    .first__image {
        height: 330px;
    }
    .search--2 .search-field {
        width: 200px;
    }
}



@media (max-width: 823px) {
    .first__image {
        height: 310px;
    }
    .first__body {
        h1 {
            font-size: 24px;
        }
    }
    .first__intro {
        height: 20%;
        h6 {
            font-size: 20px;
        }
    }
    .navigation {
        margin-right: 20px;
        a {
            font-size: 17px;
        }
    }
    .catalog {
        &__body {
            width: 75%;
        }
        &__menu {
            width: 25%;
        }
    }
}



@media (max-width: 812px) {
    .catalog {
        &__body {
            width: 74%;
        }
        &__menu {
            width: 26%;
        }
    }
}



@media (max-width: 768px) {
    .header__top {
        a {
            font-size: 15px;
        }
    }
    .first__body {
        justify-content: center;
    }
    .first__link {
        width: 80%;
    }
    .first__image {
        height: 285px;
    }
    .navigation {
        margin-right: 3px;
    }
    .catalog {
        &__inner {
            padding: 30px 0;
        }
        &__body {
            width: 73%;
        }
        &__menu {
            width: 27%;
            &-top {
                padding: 9px 0;
            }
            &-title {
                font-size: 18px;
            }
            a {
                font-size: 16px;
            }
        }
    }
}


@media (max-width: 736px) {
    .catalog {
        &__item {
            flex-basis: calc(100% / 2 - 30px);;
        }
    }
}



@media (max-width: 720px) {
    .first__title {
        font-size: 25px;
    }
    .first__subtitle {
        font-size: 20px;
    }
    .contact__form {
        width: 80%;
    }
    .catalog {
        &__body {
            width: 72%;
        }
        &__menu {
            width: 28%;
        }
    }
}



@media (max-width: 668px) {
    .logotype__image {
        width: 250px;
        height: 45px;
    }
    .catalog__menu-list {
        padding: 20px 10px 10px 10px;
    }
    .navigation {
        font-size: 16px;
    }
    .breadcrumbs {
        font-size: 16px;
    }
    .catalog {
        &__body {
            width: 70%;
        }
        &__menu {
            width: 30%;
        }
    }
}



@media (max-width: 600px) {
    .logotype__image {
        width: 220px;
        height: 40px;
    }
    .navigation {
        li {
            margin-right: 20px;
        }
    }
    .catalog {
        &__body {
            width: 68%;
        }
        &__menu {
            width: 32%;
        }
    }
}



@media (max-width: 568px) {
    .navigation {
        a {
            font-size: 16px;
        }
    }
    .catalog {
        &__inner {
            display: block;
        }
        &__menu {
            display: none;
        }
        &__body {
            justify-content: center;
            width: 100%;
        }
        &__item {
            margin: 30px auto;
        }
    }
    .breadcrumbs {
        font-size: 14px;
    }
    .header__lower-search {
        justify-content: space-between;
    }
    .lower-nav__inner {
        justify-content: space-between;
    }
}



@media (max-width: 533px) {
    .navigation {
        margin-right: 0;
    }
    .fasad {
        width: 100%;
    }
}



@media (max-width: 480px) {
    .logotype__image {
        width: 170px;
    }
    .navigation {
        a {
            font-size: 15px;
        } 
        li {
            margin-right: 15px;
        }
    }
    .header__top {
        &-inner {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
        }
        a {
            font-size: 13px;
            margin-right: 0;
        }
    }
    .first__link {
        width: 90%;
    }
    .first__subtitle {
        font-size: 16px;
    }
    .first__image {
        height: 230px;
    }
    .first__intro {
        width: 100%;
        h6 {
            font-size: 18px;
        }
    }
    .contact__form {
        width: 90%;
    }
    .catalog__item {
        &-description {
            font-size: 13px;
        }
        &-price {
            font-size: 15px;
        }
    }
}



@media (max-width: 414px) {
    .header__bottom-inner {
        display: block;
        text-align: center;
    }
    .logotype {
        margin-bottom: 15px;
        &__image {
            width: 210px;
        }
    }
    .navigation {
        margin: auto;
        li {
            margin-right: 50px;
        }
        a {
            font-size: 17px;
        }
    }
    .catalog {
        &__menu {
            display: none;
        }
        &__item {
            flex-basis: calc(100% / 2 - 20px);
        }
    }
    .breadcrumbs {
        padding: 7px 0;
    }
    .woocommerce-breadcrumb {
        padding: 6px 10px;
        font-size: 16px;
    }
    .search--2 {
        .search-field {
            width: 170px;
        }
    }
}



@media (max-width: 375px) {
    .header__top {
        a {
            font-size: 12px;
        }
    }
    .first__subtitle {
        font-size: 12px;
    }
    .fasad {
        height: 360px;
    }
}



@media (max-width: 360px) {
    .logotype__image {
        width: 200px;
    }
    .navigation {
        font-size: 15px;
    }
    .catalog__item {
        flex-basis: 80%;
        margin: 25px auto;
    }
    .catalog__inner {
        padding: 20px 0;
    }
    .first__intro {
        h6 {
            font-size: 16px;
        }
    }
    .categories {
        padding: 4px 8px;
        &__nav {
            &.active {
                transform: translateX(-8%);
            }
        }
    }
}



@media (max-width: 320px) {
    .navigation {
        li {
            margin-right: 45px;
        }
    }
    .breadcrumbs {
        font-size: 13px;
    }
    .first__intro {
        h6 {
            font-size: 15px;
        }
    }
    .search--2 {
        .search-field {
            width: 140px;
        }
    }
}



@media (min-width: 811px) {
    .header__lower-search {
        padding: 0;
    }
}



@media (min-width: 569px) {
    .categories {
        display: none;
    }
}